<div class="container" ng-controller="Page2Ctrl">
  <div class="page-header">
    <h3>This is from {{ name }}</h3>
  </div>

  <p class="lead">Demo a simple factory
    <code>todosFactory</code> <a href="http://thejackalofjavascript.com/mean-stack-hands-on-tutorial" target="_blank">source</a>
  </p>

  <p class="lead">
    <table class="table">
      <tr ng-repeat="todo in todos">
        <td><b>Todo</b> : {{todo.todo}}
        </td>
        <td>
          <em>isCompleted</em>: {{todo.isCompleted}}</td>
      </tr>
    </table>
  </p>

</div>
